@import "../Base.module.css";

button {
  --color-primary: #3992ff;
  --color-primary-dark: #1e6eff;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 0rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease-in-out;
  margin-right: 1.0rem;
}

button:hover {
  background-color: var(--color-primary-dark);
}

button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}